<tr>
  <td class="p-4 text-lg leading-6 text-left text-gray-800 font-semibold border-b border-gray-200"><%= bank.name %></td>
  <td class="p-4 text-sm leading-4 text-right border-b border-gray-200">
    <%= link_to edit_bank_path(bank, locale: I18n.locale), class: "inline-block ml-auto px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700" do %>
      <%= t('shared.links.edit') %>
    <% end %>

    <%= link_to bank_path(bank, locale: I18n.locale),
                method: :delete, data: { confirm: t('shared.confirmation') }, class: "inline-block ml-2 px-4 py-2 bg-red-500 text-white rounded hover:bg-red-700" do %>
      <%= t('shared.links.destroy') %>
    <% end %>
  </td>
</tr>


