<%= form_with(model: bank, local: true, url: bank.persisted? ? bank_path(bank, locale: I18n.locale) : banks_path(locale: I18n.locale), method: bank.persisted? ? :patch : :post) do |form| %>
  <% if bank.errors.any? %>
    <div class="text-red-500 mt-4">
      <h2 class="font-semibold"><%= t('banks.form.errors', count: bank.errors.count) %></h2>

      <ul>
        <% bank.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-4">
    <%= form.label :name, t('banks.form.name_label', default: 'Name'), class: "block text-gray-500 text-sm font-semibold" %>
    <%= form.text_field :name, class: "mt-1 p-2 border rounded-md w-full" %>
  </div>

  <div class="mt-4">
    <%= form.submit t('shared.buttons.save', default: 'Guardar'), class: "bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 cursor-pointer duration-300" %>
  </div>
<% end %>