<%= form_with(model: bank, local: true, url: bank.persisted? ? bank_path(bank, locale: I18n.locale) : banks_path(locale: I18n.locale), method: bank.persisted? ? :patch : :post) do |form| %>
  <% if bank.errors.any? %>
    <div style="color: red">
      <h2><%= t('banks.form.errors', count: bank.errors.count) %></h2>

      <ul>
        <% bank.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, t('banks.form.name_label', default: 'Name'), style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit t('banks.form.create_bank_button', default: 'Create Bank') %>
  </div>
<% end %>
