<p style="color: green"><%= notice %></p>

<%= render @bank %>

<div>
  <%= link_to t('banks.show.back_to_banks'), banks_path(locale: I18n.locale) %> |
  <%= link_to t('banks.edit.edit_this_bank'), edit_bank_path(@bank, locale: I18n.locale) %> |
  <%= button_to t('banks.form.destroy_this_bank'), bank_path(@bank, locale: I18n.locale), method: :delete %>
</div>
