<%= form_with(model: supplier, local: true, **supplier_form_url_and_method(supplier)) do |form| %>
  <% if supplier.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
        <% supplier.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, t('shared.labels.name'), style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :nit, t('suppliers.labels.nit'), style: "display: block" %>
    <%= form.text_field :nit %>
  </div>

  <div>
    <%= form.label :contact_person_name, t('suppliers.labels.contact_person_name'), style: "display: block" %>
    <%= form.text_field :contact_person_name %>
  </div>

  <div>
    <%= form.label :contact_person_phone, t('suppliers.labels.contact_person_phone'), style: "display: block" %>
    <%= form.text_field :contact_person_phone %>
  </div>

  <div>
    <%= form.label :bank_id, t('suppliers.labels.bank_name'), style: "display: block" %>
    <%= form.collection_select :bank_id, Bank.all, :id, :name, prompt: "Select a bank" %>
  </div>

  <div>
    <%= form.label :bank_account_number, t('suppliers.labels.bank_account_number'), style: "display: block" %>
    <%= form.text_field :bank_account_number, maxlength: 15 %>
  </div>


  <div>
    <%= form.submit t('shared.buttons.save', default: 'Guardar') %>
  </div>
<% end %>
