<div id="<%= dom_id supplier %>">
  <p>
    <strong><%= t('shared.labels.name') %>:</strong>
    <%= supplier.name %>
  </p>

  <p>
    <strong><%= t('suppliers.labels.nit') %>:</strong>
    <%= supplier.nit %>
  </p>

  <p>
    <strong><%= t('suppliers.labels.contact_person_name') %>:</strong>
    <%= supplier.contact_person_name %>
  </p>

  <p>
    <strong><%= t('suppliers.labels.contact_person_phone') %>:</strong>
    <%= supplier.contact_person_phone %>
  </p>

  <p>
    <strong><%= t('suppliers.labels.bank_id') %>:</strong>
    <%= supplier.bank_id %>
  </p>

  <p>
    <strong><%= t('suppliers.labels.bank_name') %>:</strong>
    <%= supplier.bank.name %>
  </p>

  <p>
    <strong><%= t('suppliers.labels.bank_account_number') %></strong>
    <%= supplier.bank_account_number %>
  </p>

  <!-- Agregar enlace a la acción edit del banco -->
  <%= link_to t('shared.links.edit'), edit_supplier_path(supplier, locale: I18n.locale) %>
  <!-- Agregar enlace a la acción destroy del banco -->
  <%= link_to t('shared.links.destroy'), supplier_path(supplier, locale: I18n.locale),
              method: :delete, data: { confirm: t('shared.confirmation') } %>
</div>
