<div class="container mx-auto max-w-4xl p-6 bg-white rounded-lg shadow-md">
  <p class="text-green-500"><%= notice %></p>
  <div class="grid grid-cols-2 gap-4">
    <div>
      <div class="mb-4">
        <strong><%= t('shared.labels.name') %>:</strong> <%= @supplier.name %>
      </div>
      <div class="mb-4">
        <strong><%= t('suppliers.labels.nit') %>:</strong> <%= display_info(:nit, @supplier.nit) %>
      </div>
      <div class="mb-4">
        <strong><%= t('suppliers.labels.contact_person_name') %>:</strong> <%= @supplier.contact_person_name %>
      </div>
      <div class="mb-4">
        <strong><%= t('suppliers.labels.contact_person_phone') %>:</strong> <%= display_info(:contact_person_phone, @supplier.contact_person_phone) %>
      </div>
      <div class="mb-4">
        <strong><%= t('suppliers.labels.bank_name') %>:</strong> <%= bank_name_for_supplier(@supplier) %>
      </div>
      <div class="mb-4">
        <strong><%= t('suppliers.labels.bank_account_number') %>:</strong> <%= display_info(:bank_account_number, @supplier.bank_account_number) %>
      </div>

      <div class="flex mt-4">
        <%= link_to t('shared.links.edit'), edit_supplier_path(@supplier, locale: I18n.locale), class: "inline-block px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700" %>
        <%= button_to t('shared.links.destroy'), supplier_path(@supplier, locale: I18n.locale),
                      method: :delete,
                      data: { confirm: t('suppliers.form.confirm_delete') },
                      class: "inline-block ml-2 px-4 py-2 bg-red-500 text-white rounded hover:bg-red-700" %>
      </div>
    </div>
    <div class="flex justify-end items-start">
      <%= link_to t('suppliers.back_to_suppliers'), suppliers_path, class: "text-blue-500 hover:underline" %>
    </div>
  </div>
  <!-- Puedes agregar más contenido aquí según tus necesidades -->
</div>


