<p style="color: green"><%= notice %></p>

<%= render @supplier %>

<div>
  <%= link_to "Edit this supplier", edit_supplier_path(@supplier, locale: I18n.locale) %> |
  <%= link_to "Back to suppliers", suppliers_path %>
  <%= button_to "Destroy this supplier", supplier_path(@supplier, locale: I18n.locale), method: :delete %>
</div>
